@font-face {
  font-family: "Conv_PTS55F";
  src: url("fonts/PTS55F.eot");
  src: local("☺"), url("fonts/PTS55F.woff") format("woff"), url("fonts/PTS55F.ttf") format("truetype"), url("fonts/PTS55F.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_PTS75F";
  src: url("fonts/PTS75F.eot");
  src: local("☺"), url("fonts/PTS75F.woff") format("woff"), url("fonts/PTS75F.ttf") format("truetype"), url("fonts/PTS75F.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: rgb( 0, 0, 0 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ГЛАВНАЯ */

/* Главное меню */

a {
  text-decoration: none;
}

li {
  display: inline;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.backgraund-foto {
  display: block;
  width: 1200px;
  height: 508px;
  background-color: #ffffff;
  background-image: url(../img/background-foto.jpg);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 1200px 508px; 
  max-width: 1200px;
  margin: 0px auto;
}

/* Лозунг */

.description-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 58px
}

.description-reason {
  font-size: 14px;
  line-height: 26px;
  text-align: center;

}

/* Причины */

.city {
  background-color: rgb( 129, 179, 210 );

}

.blue-square h2 {
  font-size: 21px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-align: center;
}

.blue-square p { 
  color: rgb( 255, 255, 255 );
  font-weight: normal;
  text-align: center;
}


.item-feature-text {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.home::before {
  content: "";
  display: block; 
  background-image: url(../img/sprite.png);
  background-position: -28px -22px;
  width: 75px;
  height: 72px;
  margin-bottom: 32px;
}

.food::before {
  content: "";
  display: block; 
  background-image: url(../img/sprite.png);
  background-position: -153px -23px;
  width: 74px;
  height: 70px;
  margin-bottom: 33px;
}

.souvenirs::before {
  content: "";
  display: block; 
  background-image: url(../img/sprite.png);
  background-position: -278px -15px;
  width: 64px;
  height: 76px;
  margin-bottom: 32px;
}

.reason ul {
  background-color: rgb( 238, 238, 238 );
  text-align: center;

}

.item-reason-text {
  font-size: 21px;
  font-weight: bold;

}


.bridge{
  background-color: rgb( 129, 179, 210 );
}

/* Заинтересовались? */

.question-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold; 
  text-align: center;
 
}

.question-offer {
  line-height: 24px;
  text-align: center;
}

.hotel-search {
  background-color: rgb( 118, 99, 87 );
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
}

.hotel-search:focus {
  background-color: rgb( 96, 78, 67 );
}

.hotel-search:hover {
  background-color: rgb( 96, 78, 67 );
}

.hotel-search:active {
  color: rgb( 146, 138, 133 );
  background-color: rgb( 80, 62, 51 );
}

.question form {
  background-color: rgb( 255, 255, 255 );
  width: 568px;
  height: 395px;
}

.hotel-search-form label {
  font-size: 14px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.hotel-search-form input {
  font-size: 14px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

input::-moz-placeholder { 
  color: rgb( 0, 0, 0 ); 
}

input::-webkit-input-placeholder { 
  color: rgb( 0, 0, 0 );
   }

.field:focus {
  background-color: rgb( 255, 255, 255);
  border: 2px solid rgb( 229, 229, 229);;
}

.field:hover {
  background-color: rgb( 235, 235, 235 );
}


.text-field {
  width: 346px;
  height: 38px;
  background-color: rgb( 242, 242, 242 );
  border: none;
  color: rgb( 0, 0, 0 );
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: 98% center;
}

.digits-field {
  width: 38px;
  height: 38px;
  background-color: rgb( 242, 242, 242 );
  border: none;
}

.more {
  color: rgb( 169, 169, 169 );
  width: 38px;
  height: 38px;
  background-color: rgb( 242, 242, 242 );
  border: none;
}

.more:focus {
  color: rgb( 0, 0, 0 );
}

.more:hover {
  color: rgb( 0, 0, 0 );
}

.more:active {
  color: rgb( 129, 179, 210 );
}

.less {
  color: rgb( 169, 169, 169 );
  width: 38px;
  height: 38px;
  background-color: rgb( 242, 242, 242 );
  border: none;
}

.less:focus {
  color: rgb( 0, 0, 0 );
}

.less:hover {
  color: rgb( 0, 0, 0 );
}

.less:active {
  color: rgb( 129, 179, 210 );
}

.to-find {
  background-color: rgb( 129, 179, 210 );
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
}

.to-find:focus {
  background-color: rgb( 102, 158, 192 );
}

.to-find:hover {
  background-color: rgb( 102, 158, 192 );
}

.to-find:active {
  color: rgb( 148, 185, 210 );
  background-color: rgb( 84, 150, 189 );
}

/* Подвал */

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.footer-social a {
  text-decoration: none;
  color: rgb( 129, 179, 210 );
}

.footer-copiright b {
  font-size: 14px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.footer-copiright svg {
  width: 115px;
  height: 41px;
}

.main-footer-logo-html {
  display: inline-block;
}

.main-footer-logo-html:focus svg{
 fill: #81b3d2;
}

.main-footer-logo-html:hover svg{
  fill: #81b3d2;
}

.main-footer-logo-html:active svg {
  fill: #bdbbbc;
}

/* ПОИСК ОТЕЛЯ */

.catalog-foto {
  display: block;
  width: 1200px;
  height: 508px;
  background-color: #ffffff;
  background-image: url(../img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 1200px 216px; 
  max-width: 1200px;
  margin: 0px auto;
}


/* Форма поиска */

legend {
  font-size: 16px;
  line-height: 26px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-option {
  font-size: 14px;
  line-height: 26px;
  color: rgb( 255, 255, 255 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.prise-form input{
  font-size: 14px;
  line-height: 21px;
  color: rgb( 255, 255, 255 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.prise-form button {
  font-size: 14px;
  line-height: 21px;
  color: rgb( 255, 255, 255 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  width: 138px;
  height: 36px;
  background-image: none; 
  background-color: transparent;
  border: 2px solid rgb( 255, 255, 255 );

}


/* Результаты поиска */

.searching-results {
  font-size: 21px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: rgb( 0, 0, 0 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sorting-by-price-item {
  font-size: 12px;
  line-height: 18px;
  color: rgb( 129, 179, 210 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sorting-by-type-item {
  font-size: 12px;
  line-height: 18px;
  color: rgb( 202, 202, 202 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sorting-by-rating-item {
  font-size: 12px;
  line-height: 18px;
  color: rgb( 202, 202, 202 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}


/* Список отелей */

.name a {
  font-size: 21px;
  line-height: 26px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-item-tp {
  font-size: 14px;
  line-height: 21px;
  color: rgb( 0, 0, 0 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.button-read-more {
  font-size: 14px;
  line-height: 21px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: rgb( 129, 179, 210 );
  width: 110px;
  height: 27px;
  
}

.button-book-it {
  font-size: 14px;
  line-height: 21px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: rgb( 118, 99, 87 );
  width: 142px;
  height: 27px;
}

.ratihg {
  font-size: 14px;
  line-height: 21px;
  color: rgb( 102, 102, 102 );
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: rgb( 242, 242, 242 );
  width: 142px;
  height: 27px;
}